body, html{
    margin: 0;
    padding: 0;
    background: #826afb;
}
p{
    margin-top: -30px;
    margin-bottom: -20px;
}
.ContactForm{
    flex:1;
    max-width: 50%;
    width:100%;
    background: white;
    padding: 25px 25px 30px;
    border-radius: 8px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px;
    height: 600px;

}
.contact .ContactForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    padding: 30px;
}


form{
    flex:1;
    max-width: 50%;
    width:100%;
    background: white;
    padding: 25px 25px 30px;
    border-radius: 8px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 100px;
    height: 600px;
}

h2 {
    font-size: 30px;
    text-align: center;
}
form .input-box{
    margin: 5px;
}

.input-box .field{
    width: 100%;
    height: 30px;
    background: transparent;
    border: 2px solid #ddd;
    outline: none;
    border-radius: 6px;
    padding: 5px;
    font-size: 16px;
    margin-top: 1px;
    color: #333;
}

.input-box .field.mess{
    height: 100px;
    resize: none;
}

form button{
    width: 100%;
    height: 55px;
    background: #826afb;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-top: 10px;
    transition: .5s;
}
form button:hover{
    background: #624ec6;
}

p{
    padding: 30px;
}