@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@400&display=swap');


.font-alegreya-sans {
  font-family: 'Alegreya Sans SC', sans-serif;
}


.maskedImage {
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 80%);
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 70%);
}

.shadow-custom-right {
  box-shadow: 15px 10px 4px rgba(0, 0, 0, 0.25);
}

.rounded-lg {
  border-radius: 4rem;
}

